<main style="max-width: 880px; margin: 40px auto; padding: 0 16px;">
  <h1>New investment</h1>

  <%= render "form", investment: @investment %>

  <p style="margin-top: 16px;">
    <%= link_to "Back", investments_path %>
  </p>
</main>

